@model MvcNetKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post)) { //ActionResult adı, Controller adı, çalışacak komut

<div class="form-group">
    <div style="margin-bottom:15px"></div>
    <div class="col-md-8">
    @Html.LabelFor(k => k.ID)
    @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>
       
    <div class="col-md-8" style="margin-top:15px;">
        @Html.LabelFor(k => k.ADI)
        @Html.TextBoxFor(k => k.ADI, new { @class = "form-control" })
    </div>
    <div class="col-md-8" style="margin-top:15px">
        <button class="btn btn-warning">Güncelle</button>
    </div>

</div>

}