@using MvcNetKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Personeller</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.PERSONEL</td>
            <td><a href="/Personel/PersonelSil/@ktg.ID" class="btn btn-danger ">sil</a></td>
            <td><a href="/Personel/PersonelGetir/@ktg.ID" class="btn btn-success ">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>